@font-face {
    font-family: 'Minisystem';
    src: url('ass/font/Minisystem-Regular.eot');
    src: local('Minisystem-Regular'),
        url('ass/font/Minisystem-Regular.eot?#iefix') format('embedded-opentype'),
        url('ass/font/Minisystem-Regular.woff2') format('woff2'),
        url('ass/font/Minisystem-Regular.woff') format('woff'),
        url('ass/font/Minisystem-Regular.ttf') format('truetype'),
        url('ass/font/Minisystem-Regular.svg#Minisystem-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,body {
background:#008080;
color: #fff;
font-family: Arial, Helvetica, sans-serif;
}

main #list {
font-size: 16px;
font-weight: normal;
}

/* listings */

series {
	font-weight: 900;
}
name {
	font-weight: 600;
}
year {
	font-weight: 450;
}

nav, nav a {
	color: #fff !important;
}

a:link {
	color: #0ff;
}
a:visited {
	color: #0cc;
}
a:active {
	color: #f00;
}
.pixu, .pixu a:link, .pixu a:visited	{ 
	color: #fc0 !important;
}

hr {
	color: #fff;
}

.mobile_warning {
	display: none;
	width: 100vw;
	height: 100vh;
	position:fixed;
	z-index: 100;
	background-color: #ff0;
	color: #000;
	top: 0;
	left: 0;
	text-align: center;
	font-size:2em;
}

@media screen and (orientation:portrait) {
	.mobile_warning {
		display: block;
	}
}

#menu {
	display: block;
	position: absolute;
	width: 468px;
	height: 468px;
	background: #fff transparent;
	top: 60px;
	right: 10px;
	aspect-ratio: 1/1;
}
#title {
	display: block;
	background: #000;
	width: calc(468px - 24px);
	height: calc(64px - 24px);
	padding: 12px;
	border-radius: 10px 10px 0px 0px;
	font-family: 'Minisystem', 'Courier New', monospace;
	font-size: 24px;
	text-align: center;
}
#menu_rest {
	display: block;
	background: #fff;
	width: 468px;
	height: 404px;
	border-radius: 0px 0px 10px 10px;
}

video#yes {
	aspect-ratio: 4/3;

}